<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <form method="post" action="/mailer" class="form-horizontal">
      <h3>Send email via Sendgrid SMTP</h3>
      <div class="control-group">
        <label class="control-label" for="email_to">Email To</label>
        <div class="controls">
          	<input type="text" name="email_to" placeholder="emailto@mail.com" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="email_from">Email From</label>
        <div class="controls">
          <input type="text" name="email_from"  placeholder="me@mail.com" />
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-info" type="submit" name="submit">SEND</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>